!defines
#include ".Xresources.d/global_defines.Xresources"

! Defaults for URxvt
#include ".Xresources.d/urxvt.Xresources"

! Defaults for rofi
#include ".Xresources.d/rofi.Xresources"

! Defauts for i3
!#include ".Xresources.d/i3wm.Xresources"

! Defauts for lemonbar (used by custom prog)
#include ".Xresources.d/bar.Xresources"

*font:           		xft:LiberationMonoforPowerline:size=11

! Default colors configuration.

*background:			#back
*foreground:			#fore
*fadeColor:             	#fade
*cursorColor:           	#curs
*pointerColorBackground:	#pbak
*pointerColorForeground:	#pfor

!! black dark/light
*color0:                	#dbk
*color8:                	#lbk

!! red dark/light
*color1:                	#drd
*color9:                	#lrd

!! green dark/light
*color2:                	#dgr
*color10:               	#lgr

!! yellow dark/light
*color3:                	#dyw
*color11:               	#lyw

!! blue dark/light
*color4:                	#dbl
*color12:               	#lbl

!! magenta dark/light
*color5:                	#dmg
*color13:               	#lmg

!! cyan dark/light
*color6:                	#dcy
*color14:               	#lcy

!! white dark/light
*color7:                	#dwh
*color15: 			#lwh
